// banner
.swiper-banner{
    width:100%;
    height:400px;
    .swiper-container {
        width: 100%;
        height: 100%;
      } 
    .swiper-slide{
        width:100%;
        height:400px;
    }
    .pagination {
        position: absolute;
        z-index: 20;
        left: 10px;
        bottom: 10px;
      }
}


// product-item
.product-content{
    
    overflow: hidden;
    .main-product{
        float:left;
        width:480px;
        height:560px;
        background:#ccc;
        img{
            width:480px;
            height:560px;
        }
    }
    .sort-product{
        float:left;
        width:720px;
    }
    .product-item{
        float:left;
        width:340px;
        height:270px;
        margin-left:20px;
        margin-bottom:20px;
        background:#ccc;
        img{
            width:340px;
        height:270px;
        }
    }
}

.pipe-service{
    width:1220px;
    margin-left:-20px;
    margin-bottom:40px;
    overflow: hidden;
    .pipe-item{
        float:left;
        width:386px;
        height:280px;
        background:#ccc;
        margin-left:20px;

    }
}